.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  background-image: url(https://i.gifer.com/Nv2.gif);
}
h1{
  font-family: Georgia;
  color: #FFFFFF;
}
h2{
  color: #FFFFFF;
  font-family: 'Times New Roman';
}
p{
color: #FFFFFF;
font-family: Arial;
}
a{
  margin: 1%;
}
.a{
  object-fit: cover;  
}
.b{
  border: solid yellow 10px;
  border-radius: 50%;
  width: 25%;
}
.c{
  border: solid  black 2px;
  border-radius: 50%;
  width: 6%;
}
.d{
  display: inline-flex;
  width: 30%;
  margin: 1%;
  border: solid rgb(252, 2, 252) 5px;
}
.e{
  border: solid rgb(55, 0, 255);
}
.f{
  width: 8%;
  background-color: chartreuse;
}
.g{
  border: solid lawngreen 2px;
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin: 1%;
}
.h{
  display: inline-flex;
  margin: 1%;
}
.i{
}
button{
  background-color: rgb(253, 1, 1);
  color: rgb(250, 250, 1);
  border: solid rgb(4, 250, 4) 5px;
  border-radius: 5px;
  width: 220px;
  padding: 10px;
  text-align: center;
}
div{
  text-align: center;
}
.des{
  color: #FFFFFF;
  font-family: Georgia;
}
.du{
  font-family: Georgia;
}

